.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 120px;
  border-radius: 50px;
  color: #060b29;
  cursor: pointer;
  padding: 0 16px;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 18px;
  gap: 8px;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp-button:hover {
  width: 135px;
  background-color: #25d366;
  color: white;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.whatsapp-button img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-button:hover img {
  transform: rotate(10deg) scale(1.1);
}
