.header {
  margin-top: 5.73vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  gap: 2rem;
}

.header a {
  color: var(--color);
  font-size: var(--text);
  font-weight: bold;
}
