header {
  width: 94%;
  padding-top: 1rem;
  position: fixed;
  top: 0;
}

.header-navigation {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4%;
}

.header-navigation ul {
  display: flex;
  list-style: none;
  gap: 16px;
  justify-content: center;
  font-size: 18px;
}

.header-list li {
  display: flex;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.active-link {
  text-decoration: underline;
}
