@import url("../../index.css");

#footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1%;
  width: 100%;
}

.footer-line {
  width: 90%;
  margin: 0 auto;
  opacity: 20%;
}

.footer-elements {
  display: flex;
  align-items: center;
  padding-top: 1%;
  width: 90%;
  margin: 0 auto;
  height: 10vh;
}

.footer-images {
  width: 2.5rem;
}

.footer-nav {
  order: 2;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-address {
  order: 1;
}

.footer-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
