@media (min-width: 375px) {
  * {
    overflow: hidden;
    color: white;
    text-decoration: none;
  }

  footer {
    position: fixed;
    bottom: 1%;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  address {
    font-size: 12px;
  }

  .footer-navigation {
    list-style: none;
  }

  .footer-navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 16px;
    justify-content: center;
  }

  .footer-images {
    height: 2rem;
    width: 2rem;
  }

  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

.footer-list li {
  padding: 5px;
}

.footer-images:hover {
  transform: scale(1.2);
  transition-delay: 60ms;
}
