:root {
  --bg: #060b29;
  --color: white;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 28px;
  --text: 20px;
  --text-small: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: "lato", Courier, monospace;
}

@media (max-width: 768px) {
  :root {
    --text: 16px;
    --h1-size: 36px;
    --h2-size: 28px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}
