* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.central-content {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
  width: 100%;
}

:root {
  --bg: #060b29;
  --color: white;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 28px;
  --text: 32px;
  --text-small: 16px;
}

@media (max-width: 768px) {
  :root {
    --text: 16px;
    --h1-size: 36px;
    --h2-size: 28px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}
